<footer class="footer_magnum">
	<a class="subscribe_magnum btn" target="_blank" href="{{@blog.url}}/rss/">
		<i class="fa fa-rss"></i> <span class="hidethis_magnum">Subscribe!</span>
	</a>
	<div class="footertext_magnum">
		Header photo copyright <a href="https://www.flickr.com/photos/jeremykendall/4783855556/in/album-72157624261590321/">Jeremy Kendall</a> &copy; 2010 &bull; All rights reserved.
	</div>
	<div class="footertext_magnum">
		Powered by <a href="http://kabukky.github.io/journey/" target="_blank">Journey</a>
	</div>
</footer>
